
.date-dependency__container {
  border-top: solid 1px $palette-neutral-200;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  padding-top: 16px !important;
}

.date-dependency__help-icon {
  padding-right: 2px;

}

