@import '@baserow/modules/core/assets/scss/colors';
@import '@baserow/modules/core/assets/scss/placeholders';
@import '@baserow/modules/core/assets/scss/mixins/helpers';
@import '@baserow/modules/core/assets/scss/components/rating';

.rating-element {
  display: inline-block;

  .rating {
    .rating__star.rating__star {
      color: var(--rating-color) !important;
      opacity: 0.3;

      &.rating__star--selected {
        opacity: 1;
      }
    }

    &.editing {
      .rating__star.rating__star:hover {
        opacity: 1;

        ~ .rating__star {
          opacity: 0.3;
        }
      }

      &:hover .rating__star.rating__star {
        opacity: 1;
      }
    }
  }
}
