.agents-table__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  color: $palette-neutral-0;
  background: $palette-purple-500;
}

.agents-table__name {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
}
