.auth-code-input {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 12px;
  width: 100%;
  max-width: 324px;

  &.auth-code-input--full-width {
    max-width: 100%;
  }
}

.auth-code-input__input {
  height: 52px;
  font-size: 18px;
  color: $color-neutral-700;
  border-radius: 6px;
  border: 1px solid $color-neutral-300;
  text-align: center;
}

.auth-code-input__input--filled {
  background: $color-neutral-100;
}
