@mixin baserow-icon($name) {
  &::before {
    mask-image: url('@baserow/modules/core/assets/icons/' + $name + '.svg');
  }
}

// Extracted from iconoir.css
%icon {
  display: inline-block;
  &::before {
    content: ' ';
    display: block;
    background: currentColor;
    mask-size: cover;
    -webkit-mask-size: cover;
    width: 1em;
    height: 1em;
  }
}

/* prettier-ignore */
*[class^='baserow-icon-'],
*[class*=' baserow-icon-'] {
  @extend %icon;
}

@each $icon in $baserow-icons {
  .#{$baserow-icon-prefix}#{$icon} {
    @include baserow-icon($icon);
  }
}

*[class^='iconoir-'],
*[class*=' iconoir-'] {
  vertical-align: middle;
}
