.totp-login__logo {
  margin-bottom: 24px;
}

.totp-login__title {
  color: $palette-neutral-1200;
  font-size: 24px;
  font-style: normal;
  font-weight: 600px;
  line-height: 32px;
  margin-bottom: 16px;
}

.totp-login__description {
  color: $palette-neutral-900;
  font-size: 13px;
  margin-bottom: 32px;
}

.totp-login__code {
  margin-bottom: 32px;
}

.totp-login__submit {
  margin-bottom: 32px;
}
