.column-element {
  display: grid;
  width: 100%;
  gap: var(--space-between-columns);
  align-items: stretch;
}

@media (min-width: 768px) {
  .column-element--public.column-element--stack-desktop {
    grid-template-columns: 1fr !important;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .column-element--public.column-element--stack-tablet {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 420px) {
  .column-element--public.column-element--stack-smartphone {
    grid-template-columns: 1fr !important;
  }
}

.column-element__column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: var(--alignment);
  min-width: 0;
}

.column-element__element {
  width: 100%;
}

.column-element__column > .add-element-zone {
  flex: 1;
}

.column-element__column > .add-element-zone--drag-active {
  min-height: 24px;
}
