.menu-element__add-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

// .menu-element__menu-items-label {
//   justify-content: flex-start;
// }

// .menu-element__add-menu-item-button {
//   justify-content: flex-end;
// }
