.menu-element__add-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.menu-element__menu-items-container {
  display: flex;
  align-items: center;
}

.menu-element__menu-items-container.vertical {
  flex-direction: column;
}

.menu-element__menu-items-container.horizontal {
  flex-direction: row;
  gap: 20px;
}

.menu-element__menu-item-link a {
  text-decoration: none;
  color: black;
}

.menu-element__menu-item-footer {
  border-top: 1px solid #d7d8d9;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-element__add-sub-link-container {
  display: flex;
  justify-content: flex-end;
}