.menu-element__add-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.menu-element__menu-items-container {
  display: flex;
  align-items: center;
}

.menu-element__menu-items-container.vertical {
  flex-direction: column;
}

.menu-element__menu-items-container.horizontal {
  flex-direction: row;
  gap: 20px;
}

.menu-element__menu-item-link a {
  text-decoration: none;
  color: black;
}

.menu-element__menu-item-footer {
  border-top: 1px solid #d7d8d9;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-element__add-sub-link-container {
  display: flex;
  justify-content: flex-end;
}

.menu-element__menu-link-container {
  display: flex;
  position: relative;
}

.menu-element__menu-link-expanded-icon {
  margin-left: 5px;
}

.menu-element__sub-link-menu-container {
  position: absolute;
  width: 100%;
  left: 0;
}

.menu-element__sub-link-menu {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  max-height: 200px;
  height: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;

  .menu-element__menu-item-link {
    width: 100%; // Make the link element take full width
    display: block; // Ensure block-level display
  }

  a {
    display: block;
    width: 100%; // Ensure the anchor takes full width
    padding: 10px;
    text-decoration: none;
    color: black;
  }

  a:hover {
    background: #f0f0f0;
    width: 100%; // Ensure hover effect spans full width
  }
}
