%positioned-container {
  position: sticky !important;
  z-index: 1;
  background-color: var(--element-background-color, white);
}

.positioned-container-element__page-alignment-top {
  @extend %positioned-container;

  top: 0;
}

.positioned-container-element__page-alignment-bottom {
  @extend %positioned-container;

  bottom: 0;
}
