$connectorHeight: 32px;

.workflow-editor {
  .vue-flow__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .vue-flow__controls-button {
    border: none;
    border-right: 1px solid #eee;
  }
}

.workflow-connector {
  color: $palette-neutral-400;
}
