.node-error-handling-form__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: $palette-neutral-1200;
}

.node-error-handling-form .control__label {
  color: $palette-neutral-900;
}

.node-error-handling-form__reasons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
