@import '../modules/core/assets/scss/colors';

.crud-table-story__resource {
  gap: 8px;
}

.crud-table-story__resource-icon {
  margin-right: 4px;
  background: $palette-neutral-200;
  color: $palette-neutral-700;
}

.crud-table-story__separator {
  color: $palette-neutral-400;
}

.crud-table-story__scope {
  color: $palette-neutral-900;
}

.crud-table-story__remove-role {
  width: 32px;
  height: 32px;
  margin-left: auto;
  justify-content: center;

  .button-text__icon {
    font-size: 16px;
    color: $palette-neutral-700;
  }
}

.crud-table-story__role {
  width: 148px;
  justify-content: flex-start;
  font-weight: 400;
  gap: 8px;

  .button__label {
    flex: 1;
    text-align: left;
  }

  .button__icon {
    color: $palette-neutral-700;
  }
}
