.auth-provider-with-modal {
  @include elevation($elevation-low);
  @include rounded($rounded);

  padding: 20px;
  border: 1px solid $color-neutral-200;
  display: flex;
  cursor: pointer;

  &--error {
    border-color: $color-error-600;
  }
}

.auth-provider-with-modal__actions {
  display: flex;
  gap: 5px;
}
