.create-widget-button {
  border: 1px dashed $color-neutral-300;
  background: $color-neutral-50;
  box-shadow: none;
  margin: 24px 0;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include rounded($rounded-md);
}
