.dashboard-sidebar {
  background: linear-gradient(
    180deg,
    $color-neutral-50 0%,
    $color-neutral-10 100%
  );
  padding: 16px 16px 14px;
  border-left: 1px solid $color-neutral-200;
  overflow-y: scroll;
}
