.alert {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: var(--alert-width, auto);

  @include rounded($rounded-md);
  @include elevation($elevation-low);
}

.alert__wrapper {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 12px;
}

.alert__icon {
  font-size: 18px;
  flex: 0 1 auto;
}

.alert__title {
  font-weight: 500;
  line-height: 20px;
  font-size: 13px;
}

.alert__content {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  font-size: 12px;
}

.alert__message {
  margin-top: 4px;

  a {
    text-decoration: underline;
  }
}

.alert__close {
  background: none;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  flex: 0 1 auto;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
}

.alert--blank {
  @include alert-style(
    $white,
    $color-neutral-800,
    $color-neutral-900,
    $color-neutral-300
  );
}

.alert--info-neutral {
  @include alert-style(
    $color-neutral-10,
    $color-neutral-800,
    $color-neutral-900,
    $color-neutral-300
  );
}

.alert--info-primary {
  @include alert-style(
    $color-primary-100,
    $color-primary-700,
    $color-primary-800,
    $color-primary-300
  );
}

.alert--success {
  @include alert-style(
    $color-success-100,
    $color-success-600,
    $color-success-700,
    $color-success-300
  );
}

.alert--warning {
  @include alert-style(
    $color-warning-100,
    $color-warning-600,
    $color-warning-700,
    $color-warning-300
  );
}

.alert--error {
  @include alert-style(
    $color-error-100,
    $color-error-600,
    $color-error-700,
    $color-error-300
  );
}

.alert--loading {
  @include alert-style(
    $color-neutral-10,
    $color-neutral-800,
    $color-neutral-900,
    $color-neutral-500
  );
}

.alert__actions {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

.alert__actions-button-text {
  background: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  border: 0;

  @include flex-align-items(5px);
}

.alert__actions-button-text--loading {
  cursor: wait;
  user-select: none;

  @include loading-spinner;
}

.alert__actions-button-text--normal {
  font-weight: normal;
}

.alert--bottom {
  position: fixed;
  right: 15px;
  bottom: 15px;
  margin: 0;
}

.alert--top {
  position: fixed;
  right: 15px;
  top: 15px;
  margin: 0;
  max-width: 350px;
}

.alert__loading {
  flex: 0 1 auto;
  cursor: wait;
  user-select: none;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;

  &::after {
    content: ' ';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 0.18em solid;
    border-color: $color-neutral-500 transparent $color-neutral-500
      transparent;
    animation: spin infinite 1800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}
