.template-onboarding-cancel-modal__skip {
  padding-top: 20px;
  margin-top: 30px;
  text-align: center;
  border-top: solid 1px $palette-neutral-300;
}

.template-onboarding-cancel-modal__skip-description {
  margin: 10px auto 0;
  max-width: 420px;
  font-size: 11px;
  line-height: 16px;
  color: $palette-neutral-700;
}
